<app-nav-bar></app-nav-bar>

   <!-- video container -->
  <div class="video-container">
    <video id="video" autoplay  [muted]="'muted'" loop >
      <source src="/assets/video/intro_video1.mp4" type="video/mp4">
    </video>
  </div>
    <!-- video container -->

  <!-- wardrobe showcase -->
  <div class="WardrobeShowcase">
    <div class="title">
      <span>Seasonal Wardrobe</span>
    </div>
  
    <!-- custom_carousel -->
      <div class="carouse-wrapper">
        <div class="carousel" data-flickity>
          <div class="carousel-cell">
            <h3>Saree</h3>
            <a href="#"><img [src]="image1"></a>
            <!-- <img [src]="image1"> -->
          </div>
          <div class="carousel-cell">
            <h3>Gown</h3>
            <img [src]="image2">
          </div>
          <div class="carousel-cell">
            <h3>Panjabi</h3>
            <img [src]="image3">
          </div>
          <div class="carousel-cell">
            <h3>Formal</h3>
            <img [src]="image4">
          </div>
          <div class="carousel-cell">
            <h3>Party wear</h3>
            <img [src]="image5">
          </div>
        </div>
      </div>
    <!-- custom_carousel -->
  </div>

 <!-- wardrobe showcase -->

<!-- new collection -->
<div class="latest_collection">
  <div class="title">
    <span>New Collection</span>
  </div>


  <div class="dress_showcase">
    <div class="container">
 

        <div class="row">
          <div class="col-md-4" >
            <div class="flip-container">
              <div class="card">
                  <div class="front">
                    <img src="/assets/image/front1.jpg">
                  </div>
                  <div class="back">
                    <img src="/assets/image/back1.jpg">
                  </div>
              </div>
          </div>
            
          </div>
          <div class="col-md-8" >
            <div class="info_box">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur excepturi voluptatibus autem animi, optio nostrum accusamus culpa dicta quod totam suscipit illum non ipsum facere minus itaque corrupti cum atque.</p>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-8" >
            <div class="info_box">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur excepturi voluptatibus autem animi, optio nostrum accusamus culpa dicta quod totam suscipit illum non ipsum facere minus itaque corrupti cum atque.</p>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="flip-container">
              <div class="card">
                  <div class="front">
                    <img src="/assets/image/front2.jpeg">
                  </div>
                  <div class="back">
                    <img src="/assets/image/back2.jpeg">
                  </div>
              </div>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" >
            <div class="flip-container">
              <div class="card">
                  <div class="front">
                    <img src="/assets/image/front3.jpg">
                  </div>
                  <div class="back">
                    <img src="/assets/image/back3.jpg">
                  </div>
              </div>
          </div>
            
          </div>
          <div class="col-md-8" >
            <div class="info_box">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur excepturi voluptatibus autem animi, optio nostrum accusamus culpa dicta quod totam suscipit illum non ipsum facere minus itaque corrupti cum atque.</p>
            </div>
          </div>
        </div>
        <div class="row">
          
          <div class="col-md-8" >
            <div class="info_box">
              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur excepturi voluptatibus autem animi, optio nostrum accusamus culpa dicta quod totam suscipit illum non ipsum facere minus itaque corrupti cum atque.</p>
            </div>
          </div>
          <div class="col-md-4" >
            <div class="flip-container">
              <div class="card">
                  <div class="front">
                    <img src="/assets/image/front4.jfif">
                  </div>
                  <div class="back">
                    <img src="/assets/image/back4.png">
                  </div>
              </div>
            </div>
            
          </div>
        </div>
     
    </div>
  </div>
</div>


<!-- new collection -->
<!-- FOOTER -->
<div class="footer">
  <div class="social_media">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-whatsapp"></a>
<a href="#" class="fa fa-instagram"></a>
  </div>
</div>
<!-- FOOTER -->