<app-nav-bar></app-nav-bar>

   <!-- video container -->
  <div class="video-container">
    <video id="video" autoplay  [muted]="'muted'" loop >
      <source src="/assets/video/intro_video1.mp4" type="video/mp4">
    </video>
  </div>
    <!-- video container -->

  <!-- wardrobe showcase -->
  <div class="WardrobeShowcase">
    <div class="title">
      <span>Seasonal Wardrobe</span>
    </div>
  
    <!-- <div class="custom_carousel"> -->
      <div class="carouse-wrapper">
        <div class="carousel" data-flickity>
          <div class="carousel-cell">
            <h3>Saree</h3>
            <img [src]="image1">
          </div>
          <div class="carousel-cell">
            <h3>Gown</h3>
            <img [src]="image2">
          </div>
          <div class="carousel-cell">
            <h3>Panjabi</h3>
            <img [src]="image3">
          </div>
          <div class="carousel-cell">
            <h3>Formal</h3>
            <img [src]="image4">
          </div>
          <div class="carousel-cell">
            <h3>Panjabi</h3>
            <img [src]="image5">
          </div>
        </div>
      </div>
    <!-- </div> -->
  </div>

 <!-- wardrobe showcase -->


